<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicLab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .toggle {
            display:grid; 
            grid-template-columns: auto 50px;
            padding: 10px;
        }
        .toggle > input {
           width:50px; 
           height:50px; 
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- <nav class="level" style="padding: 10px">
            <p class="level-item level-left">
                Music Lab
            </p>
            <p class="level-item level-right">
                Controls?
            </p>
        </nav> -->
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Music Lab
                    </h1>
                    <h2 class="subtitle">
                        Your AI music creation partener
                    </h2>
                </div>
            </div>
        </section>
        <section>
            <div id="patterns">
                <div class="toggle" v-for="toggle in toggles">
                    <div>
                        <p class="title">{{toggle.name}}</p>
                        <a v-if="toggle.shuffle != null" @click="toggle.shuffle" href="#">Shuffle</a>
                    </div>
                    <input type="checkbox" v-model="toggle.value"/>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
            <center> <a href="javascript:exportMidi();">Export as midi</a> </center>
            <div class="content has-text-centered">
              <p>
                <strong>Music Lab</strong> built in under 24h in HackTheMidlands
              </p>
            </div>
          </footer>
    <script src="./main.js"></script>
</body>

</html>
</body>
</html>